{% extends 'components/layouts.html' %} {% load static %}
<!-- Filter Form -->

{% block content %}
<div class="page-inne">
  <div class="card card-primary">
    <div class="card-header"><h4>Create Account</h4></div>

    <div class="card-body">
      <form
        method="POST"
        action="{% url 'register' %}"
        class="needs-validation"
        novalidate=""
      >
        {% csrf_token %}

        <div class="form-group">
          <label for="username">Username</label>
          <input
            id="username"
            type="text"
            class="form-control"
            name="username"
            tabindex="1"
            required
            autofocus
          />
          <div class="invalid-feedback">Please fill in your username</div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            class="form-control"
            name="password"
            tabindex="2"
            required
          />
          <div class="invalid-feedback">Please fill in your password</div>
        </div>

        <div class="form-group">
          <label>User Type</label>
          <select
            class="form-control selectric"
            id="user_type"
            name="user_type"
            tabindex="3"
            required
          >
            <option value="VPAA">Vice President of Academic Affairs</option>
            <option value="IDEALS">Ideals</option>
            <option value="HR">HR</option>
            <option value="DEANS">Deans</option>
          </select>
          <div class="invalid-feedback">Please select a user type</div>
        </div>

        <div class="form-group">
          <button
            type="submit"
            class="btn btn-success btn-lg btn-block"
            tabindex="4"
          >
            Create Account
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}