<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correlation Heatmap</title>
</head>
<body>
    <img src="data:image/png;base64,{{ heatmap }}" alt="Correlation Heatmap">
    <p style="font-size: 18px; text-align: justify; margin: auto; width: 80%;"> 
        question 1 - The instructor has set clear standards regarding their timeliness in responding to messages. <br />
        question 2 - The instructor has provided the appropriate information and contact details for technical concerns. <br />
        question 3 - The instructor showed interest in student progress.	 <br />
        question 4 - The instructor encourages learners to participate.	<br />
        question 5 -  instructor implements Small Group Discussions (Breakout Rooms).	<br />
        question 6 - The instructor provides equal opportunities for students to share ideas and viewpoints.	<br />
        question 7 - The instructor requires learners to participate. <br />
        question 8 - The instructor provides platforms for Small Group Discussions.	<br />
        question 9 - Tasks deployed require collaboration among students. <br />
        question 10 - The instructor interactively engages learners in a variety of instructional delivery methods. <br />
        question 11 - The instructor deploys various active learning techniques (role-playing  case studies  group projects  think-pair-share  debates  etc.). <br />
        question 12 - The instructor provides students access to resources that enrich the course content.	<br />
        question 13 - The instructor demonstrates a thorough knowledge of the subject matter. <br />
        question 14 - The instructor provides examples  case studies  or problem sets that required higher-order thinking skills.	<br />
        question 15 - The instructor explains the significance of the lessons. <br />
        question 16 - Tasks and assessments increase their level of challenge. <br />
        question 17 - The instructor provides examples or models of what is expected. <br />
        question 18 - Course outcomes are clearly presented. <br />
        question 19 - Course deadlines are clearly set. <br />
        question 20 - Provides reminders regarding upcoming deadlines. <br />
        question 21 - The instructor provides clear guidelines and/or rubrics of the learning activities. <br />
        question 22 - The instructor provides Information Feedback (Evaluation of Work  Answers to Questions  Comments on Submissions). <br />
        question 23 - The instructor provides Acknowledgment Feedback (acknowledges communication sent by student). <br />
        question 24 - The instructor returns assessments in a timely fashion. <br />
        question 25 - The instructor engages students in learning activities that address a variety of learning styles and preferences. <br />
        question 26 - The instructor adapts learning activities to accommodate student's needs.	<br />
        question 27 - Quality of work is praised. <br />
        question 28 - The instructor is effective in helping students develop their knowledge  skills  and personalities enabling them to achieve the intended learning outcomes. <br />
        question 29 - Course assessments are authentic and measure Higher-Order Thinking Skills. <br />
        question 30 - The instructor provides sufficient attempts in the attainment of learning outcomes.</p>

</body>
</html>
